<a href="https://colab.research.google.com/github/alextepper/123/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('raw.githubusercontent.com_justmarkham_DAT8_master_data_chipotle.tsv', sep = '\t')
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [13]:
df.shape[0]

4622

In [14]:
df.shape[1]

5

In [15]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [24]:
df['quantity'].sum()

4972

In [26]:
df['choice_description'].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

In [ ]:
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:]))

In [30]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [31]:
df['item_price'].sum()

34500.16

In [32]:
df['order_id'].nunique()

1834

In [33]:
df['item_price'].sum()/df['order_id'].nunique()

18.811428571428575

In [34]:
df['choice_description'].nunique()

1043

In [36]:
df[df['item_price']>10].shape[0]

1130

In [40]:
users = pd.read_csv('raw.githubusercontent.com_justmarkham_DAT8_master_data_u.user.txt', sep = '|')
users.head(10)

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [49]:
users.groupby('occupation').mean('age')

                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

In [52]:
cols = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
iris = pd.read_csv('archive.ics.uci.edu_ml_machine-learning-databases_iris_iris.data.txt', sep=',', names = cols)
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [56]:
iris.isnull().values.any()

False

In [57]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

# Convert dictionary into a DataFrame
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [59]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [61]:
baby_names = pd.read_csv('raw.githubusercontent.com_guipsamora_pandas_exercises_master_06_Stats_US_Baby_Names_US_Baby_Names_right.csv')
baby_names.head(10)

   Unnamed: 0     Id      Name    Year Gender State  Count
0       11349  11350      Emma  2004.0      F    AK   62.0
1       11350  11351   Madison  2004.0      F    AK   48.0
2       11351  11352    Hannah  2004.0      F    AK   46.0
3       11352  11353     Grace  2004.0      F    AK   44.0
4       11353  11354     Emily  2004.0      F    AK   41.0
5       11354  11355   Abigail  2004.0      F    AK   37.0
6       11355  11356    Olivia  2004.0      F    AK   33.0
7       11356  11357  Isabella  2004.0      F    AK   30.0
8       11357  11358    Alyssa  2004.0      F    AK   29.0
9       11358  11359    Sophia  2004.0      F    AK   28.0

In [68]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis = 1)
baby_names.head(10)

       Name    Year Gender State  Count
0      Emma  2004.0      F    AK   62.0
1   Madison  2004.0      F    AK   48.0
2    Hannah  2004.0      F    AK   46.0
3     Grace  2004.0      F    AK   44.0
4     Emily  2004.0      F    AK   41.0
5   Abigail  2004.0      F    AK   37.0
6    Olivia  2004.0      F    AK   33.0
7  Isabella  2004.0      F    AK   30.0
8    Alyssa  2004.0      F    AK   29.0
9    Sophia  2004.0      F    AK   28.0

In [71]:
investor_data = pd.read_csv('raw.githubusercontent.com_datasets_investor-flow-of-funds-us_master_data_weekly.csv')
investor_data.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [72]:
investor_data.set_index('Date')

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931
2013-01-09,14817,7995,6821,2888,9766,7311,2455,27471
2014-04-02,3155,938,2217,265,3379,3129,250,6799
2014-04-09,5761,2080,3681,1482,1609,1448,161,8852
2014-04-16,2286,634,1652,1186,633,604,29,4105
2014-04-23,3530,1392,2138,1239,1984,1453,531,6753
2014-04-30,-3890,-3996,106,759,888,559,329,-2242
2014-05-07,632,-2006,2639,-340,5493,4417,1076,5785
2014-05-14,-1079,-2321,1242,1188,4037,3141,897,4146
2014-05-21,697,-1790,2487,1216,2196,1398,798,4109
2014-05-28,-2453,-2603,150,1108,2041,1236,805,696
2014-06-04,2098,-1148,3246,1123,188,-470,658,3409
2014-06-11,1236,-1840,3075,1159,2112,1587,524,4506
2014-06-18,-922,-2204,1282,1060,4159,3740,419,4297
2014-06-25,-93,-1354,1262,1246,3256,2694,562,4409
2014-07-02,-7835,-8887,1052,636,2979,2704,276,-4220
2014-07-09,666,-1070,1736,1006,2721,3203,-482,4393
2014-07-30,118,-1171,1290,1024,1806,1119,687,2949
2014-08-06,-471,-3073,2602,-375,-8193,-8658,465,-9040
2014-08-13,320,-974,1294,496,1436,539,897,2252
2014-08-20,2671,738,1933,821,4999,4185,814,8490
2014-08-27,-577,-2199,1623,943,3655,2921,734,4021
2014-09-03,-4024,-5305,1281,544,2430,1768,661,-1050
2014-09-10,1257,-1291,2548,1055,1554,711,843,3866
2014-11-05,-32,-1634,1602,-176,5813,5284,529,5604
2014-11-12,1464,61,1403,963,3596,2703,893,6023
2014-11-19,-3010,-3622,611,99,2529,1758,771,-383
2014-11-25,-1175,-2044,869,-157,2590,1821,769,1258
2015-01-07,-3913,-5438,1525,-1057,-3403,-4729,1326,-8373
2015-01-14,1774,-37,1811,248,3549,2582,967,5572
2015-01-21,1267,856,411,790,1258,220,1038,3315
2015-01-28,4343,3455,888,1748,5964,4689,1275,12055
2015-02-04,4240,3536,703,793,3237,2274,963,8270
2015-02-11,1268,-27,1296,959,5862,5169,693,8089
2015-03-04,999,-1933,2932,528,4984,4309,675,6511
2015-03-11,3911,-7,3918,851,1298,999,298,6059
2015-03-18,1948,-1758,3706,912,452,258,194,3312
2015-03-25,-1167,-4478,3311,538,2404,1701,703,1775
2015-04-01,-1527,-3307,1780,720,-1296,-1392,96,-2103
2015-04-08,1906,-1321,3227,250,1719,1906,-187,3875